body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    background-color: rgb(38, 37, 75);
    z-index: 2;
    position: sticky;
    top: 0px;
}
.logo img{
    border-radius: 50%;
    width: 30%;
}
.link {
    display: flex;
    flex-direction: row;
    gap: 20%;
    width: 50%;
    text-align: center;
    align-items: center;
    font-size: larger;

   

}
.span{
    display: none;
}
.link a{
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;

}
#username{
    display: flex;
    align-items: center;
    gap: 5%;
    color: white;
    
}
.herosection{
    display: grid;
    place-items: center;
    width: 90%;
    height: 600px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/414660/pexels-photo-414660.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}


.herosection h1{
    color:black;
    margin:auto;
    font-size: 100px;
   
   
}
  h4{
    text-align: center;
    background-color:black;
    color: white;
    width: 90%;
    margin:2% auto;
    height: 70px;
    font-size: 60px;
  }  

#Productpage{
    width: 90%;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* padding: 1%; */
    /* border: 1px solid black; */
}
#card img{
    width: 100%;
    height: 200px;
    margin:auto;
    
}
#card{
    margin:3% auto;
    text-align: center;
    background-color: #f6f7f5;
    padding: 5%;
    width: 80%;
    gap: 2%;
    border-radius: 5%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    
}
#card:hover{
    transform: scale(1.2);
    transition: all 1.1s ease-in-out
}
#card h2{  
    background-color: rgb(244, 245, 240); 
    height: 40px;
    text-align: center;
    border: 1px solid black;
    border-radius:50%;
}
#btns{
    display: flex;
    justify-content: space-around;
   
}
#btn1{
    background-color:green;
    color: white;
}
#btn2{
    background-color:red;
    color: white;
}
#btn1:hover{
    background-color:red;
    color: white;
}
#btn2:hover{
    background-color:green;
    color: white;
}
.Contactus{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    /* border: 1px solid black; */
    height: au;
}
.Contactimg{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    padding: 1%;
    
}
.Contactimg img{
    width: 100%;
    border-radius: 10%;
}
.Contactform{
    margin: auto;
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    
}

.Registrationform{
    /* border: 2px solid white; */
    background-color: black;
    width: 80%;
    margin:1% auto;
    padding: .5%;
    height: 550px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}


h6{
    background-color: rgb(110, 69, 90);
    margin: 5%;
    border-radius: 50%;
    text-align: center;
    font-size: 50px;
    color: white;
}

form{
    color: white;
    font-family: cursive;
    margin: 5%;
    font-size: 25px;

}

input{
    width: 100%;
    height: 33px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: large;
    
    
    
}
input::placeholder{
    color: white;
    font-family: cursive;
    padding: 3%;
    font-size: 15px;
    background: transparent;

}
.button{
    margin: 5% auto;
    text-align: center;
    align-items: center;
    /* border: 1px solid black; */
}
#Register{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    font-family: cursive;
    font-size: 20px;
    background-color:  rgb(110, 69, 90);
    color: white;

}
#Register:hover{

    cursor: pointer;
    color:black;
}
a{
    color: rgb(110, 69, 90);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 90%;
    margin: auto;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin: 10px;
}


.footer-section ul {
    list-style-type: none;
    padding: 0;
}


.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}



.social-media img {
    width: 24px;
    height: 24px;
}
.social-media a{
 color: white;
 text-decoration: none;
}
@media screen and (min-width:200px) and (max-width:460px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav{
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-around;
        background-color: rgb(38, 37, 75);
        z-index: 2;
        position: sticky;
        top: 0px;
    }
    .logo img{
        border-radius: 50%;
        width: 30%;
    }
    .link {
        display: none;
        display: flex;
        flex-direction: row;
        gap: 20%;
        width: 50%;
        text-align: center;
        align-items: center;
        font-size: larger;
    
       
    
    }
    .span{
        display: block;
        color: white;
    }
    .link a{
        display: flex;
        flex-direction: row;
        color: white;
        text-decoration: none;
        display: none;
    
    }
    #username{
        display: flex;
        align-items: center;
        gap: 5%;
        color: white;
        
    }
    .herosection{
        display: grid;
        place-items: center;
        width: 90%;
        height: 200px;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(https://images.pexels.com/photos/414660/pexels-photo-414660.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }
    
    
    .herosection h1{
        color:black;
        margin:auto;
        font-size: 30px;
       
       
    }
      h4{
        text-align: center;
        background-color:black;
        color: white;
        width: 90%;
        margin:2% auto;
        height: 30px;
        font-size: 20px;
      }  
    
    #Productpage{
        width: 90%;
        margin: auto;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    
    }
    #card img{
        width: 100%;
        height: 200px;
        margin:auto;
        
    }
    #card{
        margin:3% auto;
        text-align: center;
        background-color: #f6f7f5;
        padding: 5%;
        width: 80%;
        gap: 2%;
        border-radius: 5%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
        
    }
    #card:hover{
        transform: scale(1.2);
        transition: all 1.1s ease-in-out
    }
    #card h2{  
        background-color: rgb(244, 245, 240); 
        height: 40px;
        text-align: center;
        border: 1px solid black;
        border-radius:50%;
    }
    #btns{
        display: flex;
        justify-content: space-around;
       
    }
    #btn1{
        background-color:green;
        color: white;
    }
    #btn2{
        background-color:red;
        color: white;
    }
    #btn1:hover{
        background-color:red;
        color: white;
    }
    #btn2:hover{
        background-color:green;
        color: white;
    }
    .Contactus{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        margin: auto;
        /* border: 1px solid black; */
        height: auto;
    }
    .Contactimg{
        width: 90%;
        height: auto;
        /* border: 1px solid black; */
        padding: 1%;
        
    }
    .Contactimg img{
        width: 100%;
        border-radius: 10%;
    }
    .Contactform{
        margin: auto;
        width: 90%;
        height: 100%;
        /* border: 1px solid black; */
        
    }
    
    .Registrationform{
        /* border: 2px solid white; */
        background-color: black;
        width: 90%;
        margin:1% auto;
        padding: .5%;
        height: 500px;
        border-radius: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
    }
    
    
    h6{
        background-color: rgb(110, 69, 90);
        margin: 5%;
        border-radius: 50%;
        text-align: center;
        font-size: 50px;
        color: white;
    }
    
    form{
        color: white;
        font-family: cursive;
        margin: 5%;
        font-size: 25px;
    
    }
    
    input{
        width: 80%;
        height: 33px;
        border-radius: 10px;
        background: transparent;
        border: 1px solid white;
        color: white;
        font-size: large;
        
        
        
    }
    input::placeholder{
        color: white;
        font-family: cursive;
        padding: 3%;
        font-size: 15px;
        background: transparent;
    
    }
    .button{
        margin: 5% auto;
        text-align: center;
        align-items: center;
        /* border: 1px solid black; */
    }
    #Register{
        width: 50%;
        height: 40px;
        border-radius: 10px;
        font-family: cursive;
        font-size: 20px;
        background-color:  rgb(110, 69, 90);
        color: white;
    
    }
    #Register:hover{
    
        cursor: pointer;
        color:black;
    }
    a{
        color: rgb(110, 69, 90);
    }
    
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        position: relative;
        bottom: 0;
        width: 90%;
        margin:auto;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .footer-section {
        flex: 1;
        margin: 10px;
    }
    
    
    .footer-section ul {
        list-style-type: none;
        padding: 0;
    }
    
    
    .footer-section ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    
    
    .social-media img {
        width: 24px;
        height: 24px;
    }
    .social-media a{
     color: white;
     text-decoration: none;
    }
    
    
    
    
        
}
@media screen and (min-width:461px) and (max-width:840px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: auto;
        justify-content: space-around;
        background-color: rgb(38, 37, 75);
        z-index: 2;
        position: sticky;
        top: 0px;
    }
    .logo img{
        border-radius: 50%;
        width: 30%;
    }
    .link {
        
        display: flex;
        flex-direction: row;
        gap: 5%;
        width: 50%;
        text-align: center;
        align-items: center;
        font-size: larger;
    
       
    
    }
    .span{
        display: none;
        color: white;
    }
    .link a{
        display: flex;
        flex-direction: row;
        color: white;
        text-decoration: none;
       
    
    }
    #username{
        display: flex;
        align-items: center;
        gap: 5%;
        color: white;
        
    }
    .herosection{
        display: grid;
        place-items: center;
        width: 90%;
        height: 200px;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(https://img.freepik.com/free-psd/business-promotion-corporate-web-banner-template_120329-1249.jpg?w=1060&t=st=1721636060~exp=1721636660~hmac=e24ce2a68bc069e425e4a2da5b117c7131f3f646c81a255edd37d1259b276c03);
    }
    
    
    .herosection h1{
        color:black;
        margin:auto;
        font-size: 30px;
       
       
    }
      h4{
        text-align: center;
        background-color:black;
        color: white;
        width: 90%;
        margin:2% auto;
        height: 30px;
        font-size: 20px;
      }  
    
    #Productpage{
        width: 90%;
        margin: auto;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
    }
    #card img{
        width: 100%;
        height: 200px;
        margin:auto;
        
    }
    #card{
        margin:3% auto;
        text-align: center;
        background-color: #f6f7f5;
        padding: 5%;
        width: 80%;
        gap: 2%;
        border-radius: 5%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
        
    }
    #card:hover{
        transform: scale(1.2);
        transition: all 1.1s ease-in-out
    }
    #card h2{  
        background-color: rgb(244, 245, 240); 
        height: 40px;
        text-align: center;
        border: 1px solid black;
        border-radius:50%;
    }
    #btns{
        display: flex;
        justify-content: space-around;
       
    }
    #btn1{
        background-color:green;
        color: white;
    }
    #btn2{
        background-color:red;
        color: white;
    }
    #btn1:hover{
        background-color:red;
        color: white;
    }
    #btn2:hover{
        background-color:green;
        color: white;
    }
    .Contactus{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        margin: auto;
        /* border: 1px solid black; */
        height: auto;
    }
    .Contactimg{
        width: 90%;
        height: auto;
        /* border: 1px solid black; */
        padding: 1%;
        
    }
    .Contactimg img{
        width: 100%;
        border-radius: 10%;
    }
    .Contactform{
        margin: auto;
        width: 90%;
        height: 100%;
        /* border: 1px solid black; */
        
    }
    
    .Registrationform{
        /* border: 2px solid white; */
        background-color: black;
        width: 90%;
        margin:1% auto;
        padding: .5%;
        height: 500px;
        border-radius: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
    }
    
    
    h6{
        background-color: rgb(110, 69, 90);
        margin: 5%;
        border-radius: 50%;
        text-align: center;
        font-size: 50px;
        color: white;
    }
    
    form{
        color: white;
        font-family: cursive;
        margin: 5%;
        font-size: 25px;
    
    }
    
    input{
        width: 80%;
        height: 33px;
        border-radius: 10px;
        background: transparent;
        border: 1px solid white;
        color: white;
        font-size: large;
        
        
        
    }
    input::placeholder{
        color: white;
        font-family: cursive;
        padding: 3%;
        font-size: 15px;
        background: transparent;
    
    }
    .button{
        margin: 5% auto;
        text-align: center;
        align-items: center;
        /* border: 1px solid black; */
    }
    #Register{
        width: 50%;
        height: 40px;
        border-radius: 10px;
        font-family: cursive;
        font-size: 20px;
        background-color:  rgb(110, 69, 90);
        color: white;
    
    }
    #Register:hover{
    
        cursor: pointer;
        color:black;
    }
    a{
        color: rgb(110, 69, 90);
    }
    
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        position: relative;
        bottom: 0;
        width: 90%;
        margin:auto;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .footer-section {
        flex: 1;
        margin: 10px;
    }
    
    
    .footer-section ul {
        list-style-type: none;
        padding: 0;
    }
    
    
    .footer-section ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    
    
    .social-media img {
        width: 24px;
        height: 24px;
    }
    .social-media a{
     color: white;
     text-decoration: none;
    }
        
}




